.simple-card-hor,
.product-card-hor {
  margin: 1rem 1rem;
  width: 400px;
  height: 240px;
  box-shadow: 1rem 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
}

.product-card-hor img {
  max-width: 100%;
}

.simple-card-hor .card-hor-body {
  margin: 1rem 1rem;
}

.product-card-hor .card-hor-body {
  margin: 1rem 1rem;
}

.card-hor-body h2 {
  text-align: center;
}

.card-hor-body p {
  margin-top: 1rem;
  font-size: 1rem;
}

.simple-card,
.product-card-1,
.product-card-2 {
  margin: 1rem 1rem;
  width: 250px;
  min-height: 300px;
  box-shadow: 1rem 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.product-card-top {
  display: flex;
  justify-content: center;
}

.product-card-top img {
  max-width: 100%;
  display: block;
  object-fit: contain;
  height: 220px;
}

.product-card-body {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
}

.product-card-body h3 {
  text-align: center;
}

.product-card-body p {
  margin: 1rem auto;
}

.product-card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}

.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#ff4e00 0%, #eb290c 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #eb290c;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #eb290c;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #eb290c;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #eb290c;
}

.simple-card:hover,
.product-card-1:hover,
.product-card-2:hover,
.simple-card-hor:hover,
.product-card-hor:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .simple-card,
  .product-card-1,
  .product-card-2 {
    width: 100%;
    height: auto;
    margin: 1.2rem;
  }

  
}
