.nav-bar {
  background: black;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.navigation-ul {
  display: flex;
  color: white;
}

.navigation-ul li {
  list-style: none;
  margin: 0 1rem;
}

.navigation-ul li:hover {
  border-bottom: 1px solid orange;
  cursor: pointer;
  font-weight: bolder;
}

.navigation-ul li:active {
  transform: translateY(2px);
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 80px;
    justify-content: space-between;
    max-width: 100%;
  }
}
