.heading {
  font-weight: bolder;
  text-align: center;
}

.heading .big {
  font-size: 3rem;
}

.heading .medium {
  font-size: 2rem;
}

.heading .small {
  font-size: 1.5rem;
}

.text {
  font-weight: lighter;
}

.text .big {
  font-size: 2.5rem;
}

.text .medium {
  font-size: 2rem;
}

.text .small {
  font-size: 1.5rem;
}

.text p,
.heading h2 {
  margin: 1.5rem 0;
}
